.sport__wrapper{
  display: flex;
  margin-bottom: 70px;
}


.sport__user{
  width: 490px;
  margin-right: 110px;
  padding-top: 106px;
  
}

.sport__title{
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.sport__text{
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  padding-left: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-left: 3px solid #888888;

}

.sport__link{
  margin: 0;
  padding: 12px 38px;
  background-color:  #EA625C;
  color:#fff;
  
  &:hover{
    background: #C9514C;
  }
}

.sport__img{
  width: 400px;
  height: 600px;
}